community
contribute
websites
communities
books
reading
видео доклады и лекции
podcasts
twitter
contributing
resources
videos
courses
badges
license
guides
tutorials
documents
syntax highlighter
links
reading
credits
blogs
up to date
in browser
another module list
awesome lists
everything else
user groups
articles
documentation
reference
other lists
interactive learning
learning r
learning scala
learning swift