ActionScript := ActionScript
C := C
C# := C#
C++ := C++
Clojure := Clojure
CoffeeScript := CoffeeScript
CSS := CSS
Go := Go
Haskell := Haskell
HTML := HTML
Java := Java
JavaScript := JavaScript
Lua := Lua
Matlab := Matlab
Objective-C := Objective-C
Perl := Perl
PHP := PHP
Python := Python
R := R
Ruby := Ruby
Scala := Scala
Shell := Shell
Swift := Swift
TeX := TeX
VimL := VimL
Elixir := Elixir
Rust := Rust
PureScript := PureScript
Elm := Elm
Erlang := Erlang
Julia := Julia
D := D
Common Lisp := Common Lisp
Groovy := Groovy
Dart := Dart
Kotlin := Kotlin
OCaml := OCaml
ColdFusion := ColdFusion
FORTRAN := FORTRAN
AutoHotkey := AutoHotkey
AutoIt := AutoIt
Crystal := Crystal
TypeScript := TypeScript