Assembly := Assembly
AutoIt := AutoIt
AutoHotkey := AutoHotkey
ActionScript := ActionScript
C := C
C# := C#
C++ := C++
Clojure := Clojure
CoffeeScript := CoffeeScript
CSS := CSS
Go := Go
Haskell := Haskell
HTML := HTML
Java := Java
JavaScript := JavaScript
Lua := Lua
Matlab := Matlab
Objective-C := Objective-C
Perl := Perl
PHP := PHP
Python := Python
R := R
Ruby := Ruby
Scala := Scala
Shell := Shell
Swift := Swift
TeX := TeX
VimL := VimL
ABAP := ABAP
Ada := Ada
Agda := Agda
AGS Script := AGS Script
Alloy := Alloy
Alpine Abuild := Alpine Abuild
AMPL := AMPL
Ant Build System := Ant Build System
ANTLR := ANTLR
ApacheConf := ApacheConf
Apex := Apex
API Blueprint := API Blueprint
APL := APL
AppleScript := AppleScript
Arc := Arc
Arduino := Arduino
AsciiDoc := AsciiDoc
ASP := ASP
AspectJ := AspectJ
ATS := ATS
Augeas := Augeas
Awk := Awk
Batchfile := Batchfile
Befunge := Befunge
Bison := Bison
BitBake := BitBake
BlitzBasic := BlitzBasic
BlitzMax := BlitzMax
Bluespec := Bluespec
Boo := Boo
Brainfuck := Brainfuck
Brightscript := Brightscript
Bro := Bro
C-ObjDump := C-ObjDump
C2hs Haskell := C2hs Haskell
Cap&#39;n Proto := Cap&#39;n Proto
CartoCSS := CartoCSS
Ceylon := Ceylon
Chapel := Chapel
Charity := Charity
ChucK := ChucK
Cirru := Cirru
Clarion := Clarion
Clean := Clean
Click := Click
CLIPS := CLIPS
CMake := CMake
COBOL := COBOL
ColdFusion := ColdFusion
ColdFusion CFC := ColdFusion CFC
COLLADA := COLLADA
Common Lisp := Common Lisp
Component Pascal := Component Pascal
Cool := Cool
Coq := Coq
Cpp-ObjDump := Cpp-ObjDump
Creole := Creole
Crystal := Crystal
Csound := Csound
Csound Document := Csound Document
Csound Score := Csound Score
CSV := CSV
Cucumber := Cucumber
Cuda := Cuda
Cycript := Cycript
Cython := Cython
D := D
D-ObjDump := D-ObjDump
Darcs Patch := Darcs Patch
Dart := Dart
desktop := desktop
Diff := Diff
DIGITAL Command Language := DIGITAL Command Language
DM := DM
DNS Zone := DNS Zone
Dockerfile := Dockerfile
Dogescript := Dogescript
DTrace := DTrace
Dylan := Dylan
E := E
Eagle := Eagle
eC := eC
Ecere Projects := Ecere Projects
ECL := ECL
ECLiPSe := ECLiPSe
edn := edn
Eiffel := Eiffel
EJS := EJS
Elixir := Elixir
Elm := Elm
Emacs Lisp := Emacs Lisp
EmberScript := EmberScript
Erlang := Erlang
F# := F#
Factor := Factor
Fancy := Fancy
Fantom := Fantom
Filterscript := Filterscript
fish := fish
FLUX := FLUX
Formatted := Formatted
Forth := Forth
FORTRAN := FORTRAN
FreeMarker := FreeMarker
Frege := Frege
G-code := G-code
Game Maker Language := Game Maker Language
GAMS := GAMS
GAP := GAP
GAS := GAS
GDScript := GDScript
Genshi := Genshi
Gentoo Ebuild := Gentoo Ebuild
Gentoo Eclass := Gentoo Eclass
Gettext Catalog := Gettext Catalog
GLSL := GLSL
Glyph := Glyph
Gnuplot := Gnuplot
Golo := Golo
Gosu := Gosu
Grace := Grace
Gradle := Gradle
Grammatical Framework := Grammatical Framework
Graph Modeling Language := Graph Modeling Language
GraphQL := GraphQL
Graphviz (DOT) := Graphviz (DOT)
Groff := Groff
Groovy := Groovy
Groovy Server Pages := Groovy Server Pages
Hack := Hack
Haml := Haml
Handlebars := Handlebars
Harbour := Harbour
Haxe := Haxe
HCL := HCL
HLSL := HLSL
HTML+Django := HTML+Django
HTML+ECR := HTML+ECR
HTML+EEX := HTML+EEX
HTML+ERB := HTML+ERB
HTML+PHP := HTML+PHP
HTTP := HTTP
Hy := Hy
HyPhy := HyPhy
IDL := IDL
Idris := Idris
IGOR Pro := IGOR Pro
Inform 7 := Inform 7
INI := INI
Inno Setup := Inno Setup
Io := Io
Ioke := Ioke
IRC log := IRC log
Isabelle := Isabelle
Isabelle ROOT := Isabelle ROOT
J := J
Jade := Jade
Jasmin := Jasmin
Java Server Pages := Java Server Pages
JFlex := JFlex
JSON := JSON
JSON5 := JSON5
JSONiq := JSONiq
JSONLD := JSONLD
JSX := JSX
Julia := Julia
Jupyter Notebook := Jupyter Notebook
KiCad := KiCad
Kit := Kit
Kotlin := Kotlin
KRL := KRL
LabVIEW := LabVIEW
Lasso := Lasso
Latte := Latte
Lean := Lean
Less := Less
Lex := Lex
LFE := LFE
LilyPond := LilyPond
Limbo := Limbo
Linker Script := Linker Script
Linux Kernel Module := Linux Kernel Module
Liquid := Liquid
Literate Agda := Literate Agda
Literate CoffeeScript := Literate CoffeeScript
Literate Haskell := Literate Haskell
LiveScript := LiveScript
LLVM := LLVM
Logos := Logos
Logtalk := Logtalk
LOLCODE := LOLCODE
LookML := LookML
LoomScript := LoomScript
LSL := LSL
M := M
M4 := M4
M4Sugar := M4Sugar
Makefile := Makefile
Mako := Mako
Markdown := Markdown
Mask := Mask
Mathematica := Mathematica
Maven POM := Maven POM
Max := Max
MAXScript := MAXScript
MediaWiki := MediaWiki
Mercury := Mercury
Metal := Metal
MiniD := MiniD
Mirah := Mirah
Modelica := Modelica
Modula-2 := Modula-2
Module Management System := Module Management System
Monkey := Monkey
Moocode := Moocode
MoonScript := MoonScript
MTML := MTML
MUF := MUF
mupad := mupad
Myghty := Myghty
NCL := NCL
Nemerle := Nemerle
nesC := nesC
NetLinx := NetLinx
NetLinx+ERB := NetLinx+ERB
NetLogo := NetLogo
NewLisp := NewLisp
Nginx := Nginx
Nimrod := Nimrod
Ninja := Ninja
Nit := Nit
Nix := Nix
NL := NL
NSIS := NSIS
Nu := Nu
NumPy := NumPy
ObjDump := ObjDump
Objective-C++ := Objective-C++
Objective-J := Objective-J
OCaml := OCaml
Omgrofl := Omgrofl
ooc := ooc
Opa := Opa
Opal := Opal
OpenCL := OpenCL
OpenEdge ABL := OpenEdge ABL
OpenRC runscript := OpenRC runscript
OpenSCAD := OpenSCAD
Org := Org
Ox := Ox
Oxygene := Oxygene
Oz := Oz
Pan := Pan
Papyrus := Papyrus
Parrot := Parrot
Parrot Assembly := Parrot Assembly
Parrot Internal Representation := Parrot Internal Representation
Pascal := Pascal
PAWN := PAWN
Perl6 := Perl6
Pickle := Pickle
PicoLisp := PicoLisp
PigLatin := PigLatin
Pike := Pike
PLpgSQL := PLpgSQL
PLSQL := PLSQL
Pod := Pod
PogoScript := PogoScript
Pony := Pony
PostScript := PostScript
POV-Ray SDL := POV-Ray SDL
PowerShell := PowerShell
Processing := Processing
Prolog := Prolog
Propeller Spin := Propeller Spin
Protocol Buffer := Protocol Buffer
Public Key := Public Key
Puppet := Puppet
Pure Data := Pure Data
PureBasic := PureBasic
PureScript := PureScript
Python traceback := Python traceback
QMake := QMake
QML := QML
Racket := Racket
Ragel in Ruby Host := Ragel in Ruby Host
RAML := RAML
Raw token data := Raw token data
RDoc := RDoc
REALbasic := REALbasic
Rebol := Rebol
Red := Red
Redcode := Redcode
Ren&#39;Py := Ren&#39;Py
RenderScript := RenderScript
reStructuredText := reStructuredText
RHTML := RHTML
RMarkdown := RMarkdown
RobotFramework := RobotFramework
Rouge := Rouge
Rust := Rust
Sage := Sage
SaltStack := SaltStack
SAS := SAS
Sass := Sass
Scaml := Scaml
Scheme := Scheme
Scilab := Scilab
SCSS := SCSS
Self := Self
ShellSession := ShellSession
Shen := Shen
Slash := Slash
Slim := Slim
Smali := Smali
Smalltalk := Smalltalk
Smarty := Smarty
SMT := SMT
SourcePawn := SourcePawn
SPARQL := SPARQL
SQF := SQF
SQL := SQL
SQLPL := SQLPL
Squirrel := Squirrel
Stan := Stan
Standard ML := Standard ML
Stata := Stata
STON := STON
Stylus := Stylus
SuperCollider := SuperCollider
SVG := SVG
SystemVerilog := SystemVerilog
Tcl := Tcl
Tcsh := Tcsh
Tea := Tea
Terra := Terra
Text := Text
Textile := Textile
Thrift := Thrift
TLA := TLA
TOML := TOML
Turing := Turing
Turtle := Turtle
Twig := Twig
TXL := TXL
TypeScript := TypeScript
Unified Parallel C := Unified Parallel C
Unity3D Asset := Unity3D Asset
Uno := Uno
UnrealScript := UnrealScript
UrWeb := UrWeb
Vala := Vala
VCL := VCL
Verilog := Verilog
VHDL := VHDL
Visual Basic := Visual Basic
Volt := Volt
Vue := Vue
Wavefront Material := Wavefront Material
Wavefront Object := Wavefront Object
Web Ontology Language := Web Ontology Language
WebIDL := WebIDL
wisp := wisp
World of Warcraft Addon Data := World of Warcraft Addon Data
X10 := X10
xBase := xBase
XC := XC
XML := XML
Xojo := Xojo
XPages := XPages
XProc := XProc
XQuery := XQuery
XS := XS
XSLT := XSLT
Xtend := Xtend
Yacc := Yacc
YAML := YAML
YANG := YANG
Zephir := Zephir
Zimpl := Zimpl